
.main-page__header {
    min-height: 74px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #073042;
}

.main-page__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.6;
    transition: all 0s ease;
}

.main-page__link_type_register {
    margin-right: 14px;
    margin-left: auto;
    color: #FFF;
}

.main-page__link_type_login {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    background: #3DDC84;
    border-radius: 3px;
    color: #000;
}

@media screen and (min-width: 768px) {
    
    .main-page__header {
      padding: 0 30px;
    }

    .main-page__link {
        font-size: 12px;
        line-height: 1.3;
    }

    .main-page__link_type_register {
        margin-right: 30px;
    }
    
  }

