.button-submit {
    width: 100%;
    min-height: 45px;
    margin: 0;
    padding: 15px 0;
    background: #4285F4;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.21;
    color: #FFF;
    cursor: pointer;
    transition: opacity 0.3s ease-out;
}

.button-submit:hover {
    opacity: 0.8;
  }

  @media screen and (min-width: 768px) {
    
    .button-submit {
        padding: 13px 0 15px;
        font-size: 14px;
    }

  }